ACTION!="add", GOTO="co2dev_end"

    SUBSYSTEMS=="usb", \
    KERNEL=="hidraw*", \
    ATTRS{idVendor}=="04d9", \
    ATTRS{idProduct}=="a052", \
    GROUP="plugdev", \
    MODE="0664", \
    SYMLINK+="co2_sensor", \
    TAG+="systemd", \
    RUN+="/bin/bash /home/pi/co2/99-co2dev.sh", \
    GOTO="co2dev_end"

LABEL="co2dev_end"


