[Unit]
Description=CO2 sensor reader and decoder
After=network.target

[Service]
ExecStart=/usr/bin/python /home/pi/co2/co2reader.py --read_freq_seconds 3 --dont_daemonize --csv_report /home/pi/co2_history.csv /dev/co2_sensor
WorkingDirectory=/home/pi/co2
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target

